@model IframeTransferData
@{
    Layout = "_Layout";
}
@section head{
    <style type="text/css">
        .layui-form-label {
            width: 85px;
            padding-left: 10px;
        }

        .layui-form-item {
            margin-bottom: 10px
        }
    </style>
}
<div class="layui-form">
    <input name="offlinePaymentId" type="hidden" value="@Model.Id" />
    <div class="layui-form-item">
        <label class="layui-form-label">备注（选填）</label>
        <div class="layui-input-block">
            <textarea name="remark" placeholder="请输入备注" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="submit" class="layui-btn" lay-submit lay-filter="form">立即提交</button>
            <button class="layui-btn layui-btn-danger" id="close">关闭</button>
        </div>
    </div>
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/pay/offlinePayment/pass.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pay/offlinePayment/pass.min.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
}
