@{
    ViewData["Title"] = "404";
}
<div class="noFind">
    <div class="ufo">
        <i class="seraph icon-test ufo_icon"></i>
        <i class="layui-icon page_icon">&#xe638;</i>
    </div>
    <div class="page404">
        <i class="layui-icon">&#xe61c;</i>
        <p>我勒个去，页面被外星人挟持了!</p>
        <a style="margin-top: 15px;" href="javascript:top.location.href='/';" class="layui-btn layui-btn-lg layui-btn-primary">返回主站</a>
    </div>
</div>