@{
    Layout = "_Layout";
}
    <blockquote class="layui-elem-quote">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <textarea id="areaTrackNos" class="layui-textarea" style="width:450px;height:260px;margin:2px" placeholder="一行一个单号"></textarea>
            </div>
            <a class="layui-btn" id="search">查询</a>
        </div>
        <form class="layui-form">
            <input type="hidden" id="trackNos" name="trackNos" />
        </form>
    </blockquote>
<table id="table" class="layui-table" lay-filter="table"></table>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-danger" lay-event="delete"><i class="layui-icon">&#xe640;</i> 删除 </button>
    </div>
</script>

@section Scripts{
    <environment include="Development">
        <script src="~/js/devOps/trackInfoNumbersDelete/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/devOps/trackInfoNumbersDelete/index.min.js" asp-append-version="true"></script>
    </environment>
}