<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" throwConfigExceptions="true">
  <!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->
  <targets async="true">
    <target name="MyLogger"
            type="file"
            layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message} ${exception:format=ToString}"
            fileName="${basedir}/Log/${level}/${shortdate}.log"
            maxArchiveFiles="7"
            archiveAboveSize="10240"
            archiveFileName="${basedir}/Log/${level}/${shortdate}.log.{#####}"
            archiveNumbering="rolling"
            KeepFileOpen="true"
            encoding="utf-8"/>
  </targets>
  <rules>
    <logger name="ims.server" minlevel="Trace" maxlevel="Fatal" writeTo="MyLogger" />
    <logger name="LoggerRecordData" minlevel="debug" writeTo="MyLogger" />
  </rules>
</nlog>