@{
    Layout = "_Layout";
}
<blockquote class="layui-elem-quote">
    <form class="layui-form">
        <div class="layui-inline">
            <input type="hidden" id="page" name="page" value="1" />
            <input type="hidden" id="limit" name="limit" value="10" />
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="companyName" name="companyName" placeholder="请输入公司名称" />
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="email" name="email" placeholder="公司邮箱或者注册邮箱" />
            </div>
            <div class="layui-input-inline">
                <select id="status" name="status">
                    <option value="">请选择审核状态</option>
                    <option value="0">待审核</option>
                    <option value="1">已通过</option>
                    <option value="2">驳回</option>
                </select>
            </div>
            <a class="layui-btn" id="search">搜索</a>
        </div>
    </form>
</blockquote>
<table id="table" class="layui-table" lay-filter="table"></table>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="viewCheck"><i class="layui-icon">&#xe672;</i> 查看审核</button>
        <button class="layui-btn layui-btn-normal" lay-event="update">
            <i class="layui-icon">&#xe642;</i> 修改资料
        </button>
    </div>
</script>
@section Scripts{
    <environment include="Development">
        <script src="~/js/freight/company/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/freight/company/index.min.js" asp-append-version="true"></script>
    </environment>
}
